<head>
<title>My Internship</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  
</head>
<body>
<div class="contenedor">
    <div style="background: rgb(87, 22, 78);" class="header" text-align="center">
    <img src="Pasantia2019/src/assets/logo.png" alt="logo" width="100" height="100">  
    <h1 style="color: antiquewhite">My Internship</h1>
    <p style="color: antiquewhite">Siempre pensando en mejorar el fututo.</p>
    </div>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">¡Bienvenido!</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Foros</a></li>
                <li><a href="#">Experiencas</a></li>
            </ul>
            <form class="navbar-form navbar-left" action="/action_page.php">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Carreras, Colegios o Empresas" name="search">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </nav>
    <div class="main">
        <div class="sidenav">
            <a href="#">usuario1</a>
            <a href="#">usuario2</a>
            <a href="#">usuario3</a>
            <a href="#">usuario4</a>
            <a href="#">usuario5</a>
            <a href="#">usuario6</a>
            <a href="#">usuario7</a>
        </div>
            <div class="content">
                <h2>Mi Increible pasantia</h2>
                <p>tuve una gran poasantia en ......</p>
            </div>
    </div>

</div>
<footer>
    <p>My Internshirp</p>
  </footer>