<head>
        <title>My Internship</title>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
          <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        </head>
        <body>
        <div class="contenedor">
            <div style="background: rgb(87, 22, 78);" class="header" text-align="center">
            <!-- <img src="assets/logo.png" alt="logo" width="100" height="100"> -->
            <h1 style="color: antiquewhite">My Internship</h1>
            <p style="color: antiquewhite">Siempre pensando en nuestro futuro.</p>
            </div>

            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">¡Bienvenido!</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Inicio</a></li>
                        <!-- <li><a href="#">Foros</a></li> -->
                        <button mat-stroked-button class="experiencia"(click)="goToExperiencia()">Tu experiencia</button>
                    </ul>
                    <form class="navbar-form navbar-left" action="/action_page.php">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Carreras, Colegios o Empresas" name="search">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </nav>
            <div class="main">
                    <div class="w3-top">
                            <div class="w3-bar w3-black w3-card">
                              <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
                              <a href="#usuario1" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Manuel Verger</a>
                              <a href="#usuario2" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Leonel Sposetti</a>
                              <a href="#usuario3" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Mateo Cafferata</a>
                              <a href="#usuario4" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Nicolas Arenas</a>
                              <a href="#usuario5" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Mateo Sosa</a>
                              <a href="#usuario6" class="w3-bar-item w3-button w3-padding-large w3-hide-small">José Sanchez</a>
                              <a href="#usuario7" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Santiago Juri Nam</a>
                            </div>
                        </div>


                    <div class="main2" >
                        <div class="content">
                                <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" *ngFor="let experencia of this.experiencias">
                                        <mat-card class="card-usuario">
                                            <div class= "info">
                                                <h6>{{experencia.username}}</h6>
                                                <h6>Contacto: {{experencia.email}}</h6>
                                                <h6>Colegio: {{experencia.schoolName}}</h6>
                                                <h6>Empresa: {{experencia.companyName}}</h6>
                                                <h6>Duracion: {{experencia.duration}}</h6>
                                            </div>
                                                <h2 class="w3-wide">Mi experiencia:</h2>

                                            <p class="w3-justify">{{experencia.experienceFeedback}}</p>
                                        </mat-card>
                                </div>
                                <!-- <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="usuario2">
                                        <mat-card class="card-usuario">
                                            <div class="info2">
                                                <h6>Leonel Sposetti</h6>
                                                <h6>Colegio:Cinco Rios</h6>
                                                <h6>Empresa:Mcafee</h6>
                                                <h6>Tipo:Acompañamiento</h6>
                                                <h6>Duracion:1 semana</h6>
                                            </div>
                                            <h2 class="w3-wide">Supero mis expectativas</h2>
                                            <p class="w3-justify">La verdad la pasantia en Mcafee supero por mucho mis expectativas,es una experiencia que nunca voy a olvidar.
                                                En el momento que nos digeron que hibamos a hacer una pagina web, supe que hiba a ser una experencia inolvidable. La verdad la atencio por parte de la empresa
                                            es increible, las coordinadoras siempre estaban atentas de algun problema que tuvieramos para ayudarno a solucionarlo, tambien nos ayudo una persona que trabaja en la empresa(podria decir que sin dicha persona no hubieramos terminado esta pagina).
                                            todas las charlas fueron interesantes,teniamos libertad de movimiento por la empresa, lo cual fue muy interesante. Tambien teniamos un mini comedor en el cual todas las mañanas nos jutabamos a tomar un cafe o una coca para charlar sobre distintos teniamos.
                                            Si tuviera que resumir mi experiencia en una palabra seria Util, ya que , te da un paronama general de como seria trabajar en equipo para hacer una pagina web, y segun mi opinion esta experiencia nos va a venir bien en el futuro.
                                          </p>

                                        </mat-card>
                                </div>
                                <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="usuario3">
                                    <mat-card class="card-usuario">
                                        <div class="info3">
                                            <h6>Mateo Cafferata</h6>
                                            <h6>Colegio:Cinco Rios</h6>
                                            <h6>Empresa:Mcafee</h6>
                                            <h6>Tipo:Acompañamiento</h6>
                                            <h6>Duracion:1 semana</h6>
                                        </div>
                                        <h2 class="w3-wide">Gracias por esta experiencia</h2>
                                        <p class="w3-justify">Queria agradecer a todo el equipo de McAfee por haberme recibido en estas pasantias. La verdad que no puedo describir con palabras la experiencia por la que pase en esta semana. Fue emocionante la oportunidad de poder trabjar en una empresa donde te atienden cualquier duda que tengas con carisma y paciencia. Y por ultimo queria agradecerle a todas las personas que nos dieron a conocer mas sobre la empresa y algunas dudas que teniamos sobre las carreras que tengan que ver con informatica. El ambiente laboral en la empresa es muy buena y es bastante completa.</p>
                                    </mat-card>
                                </div>
                                <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="usuario4">
                                        <mat-card class="card-usuario">
                                            <div class="info4">
                                                <h6>Nicolas Arenas</h6>
                                                <h6>Colegio:Cinco Rios</h6>
                                                <h6>Empresa:Mcafee</h6>
                                                <h6>Tipo:Acompañamiento</h6>
                                                <h6>Duracion:1 semana</h6>
                                            </div>
                                            <h2 class="w3-wide">Me gusto mi pasantia</h2>
                                            <p class="w3-justify">McAfee es una empresa diseñadora de software especializada en programas de
                                                    seguridad informática. La pasantía empezó el Lunes 30 de septiembre del año 2019 a las
                                                    9 am en la ciudad empresarial quorum en el edificio de oficinas llamado Mira al golf. Las
                                                    oficinas de McAfee están divididas en tres pisos con 2 salas de usos múltiples y 2 salas
                                                    de conferencias en cada piso con la excepción del primer piso en el cual solo hay una
                                                    sala de conferencias. Cada piso está separado por áreas de trabajo dedicadas a ciertas
                                                    tareas. La oficina cuenta con un laboratorio de pruebas informático con servidores
                                                    simulando computadoras físicas a esto se le llama máquina virtual o computadoras
                                                    virtuales en estas computadoras los trabajadores pueden hacer pruebas sin que sus
                                                    equipos corran peligro de infección. Los pisos tienen sistemas de seguridad en las puertas
                                                    ,que son solo ingresables si posees un tarjeta magnética la cual te daría acceso a todas
                                                    las áreas de las oficinas a excepción de la sala de servidores para el cual se requiere una
                                                    tarjeta especial, estas tarjetas no son proporcionadas a los pasantes por lo cual para
                                                    pasar de un piso a otro se requiere la autorización de un supervisor. Las salas recreativas
                                                    están habilitadas en todo momento y las bebidas son totalmente gratis.</p>
                                        </mat-card>
                                 </div>
                                 <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="usuario5">
                                         <mat-card class="card-usuario">
                                             <div class="info5">
                                                <h6>Mateo Sosa</h6>
                                                <h6>Colegio:Pio XII</h6>
                                                <h6>Empresa:Mcafee</h6>
                                                <h6>Tipo:Acompañamiento</h6>
                                                <h6>Duracion:1 semana</h6>
                                            </div>
                                             <h2 class="w3-wide">Una linda experiencia</h2>
                                             <p class="w3-justify">Al pasar una semana completa de días hábiles en la compañía McAfee de Córdoba puedo decir
                                                    que la pasantía fue todo un éxito, pude observa el ambiente y la forma que tienen de trabajar en
                                                    esta empresa, aparte de poder trabajar en el desarrollo de una página web con 3 personas que
                                                    contaban con conocimientos sobre el lenguaje de programación que utilizamos para realizarla, nos
                                                    dieron el tiempo para poder hacerla y sacarnos dudas dentro del horario en el que estábamos allí,
                                                    respondían todas las dudas sin excepción, contamos también con charlas con profesionales de
                                                    cada rubro de la empresa que explicaban como realizaban su trabajo y como llegaron allí, nos
                                                    permitieron sacarnos dudas sobre la carrera que cada uno quería realizar a futuro y nos dejaron
                                                    ver el amplio abanico de oportunidades laborales que estas dan, Tuvimos charlas con pasantes
                                                    que estaban dentro de la empresa que aun cursaban la carrera lo cual nos sirvió para sacarnos las
                                                    dudas sobre cómo era estudiar esas carreras y como seria el cursarlas, carga horaria que cada una
                                                    tiene y las ventajas y desventajas de cada facultad y cada carrera. Aparte también contaban con
                                                    un desayuno con café gratis entre otras cosas.</p>
                                         </mat-card>
                                </div>
                                <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="usuario6">
                                        <mat-card class="card-usuario">
                                            <div class="info6">
                                                <h6>Josè Sanchez</h6>
                                                <h6>Colegio:Pio XII</h6>
                                                <h6>Empresa:Mcafee</h6>
                                                <h6>Tipo:Acompañamiento</h6>
                                                <h6>Duracion:1 semana</h6>
                                            </div>
                                            <h2 class="w3-wide">Mi increible pasantia</h2>
                                            <p class="w3-justify">La pasé muy bien durante las pasantías, pero el único problema fue el poco tiempo que tuvimos
                                                    para hacer nuestro proyecto. Las coordinadoras nos ayudaron bastante y otros miembros de la
                                                    empresa también. Las instalaciones estuvieron espectaculares donde nos dieron un espacio aparte
                                                    para desarrollar nuestro sitio web, las coordinadoras fueron muy pacientes con nosotros y nos
                                                    dieron libertad de movimiento dentro del área en la que nos encontrábamos.</p>
                                        </mat-card>
                                 </div>
                                 <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="usuario7">
                                        <mat-card class="card-usuario">
                                            <div class="info7">
                                                <h6>Santiago Juri Nam</h6>
                                                <h6>Colegio:Cinco Rios</h6>
                                                <h6>Empresa:Mcafee</h6>
                                                <h6>Tipo:Acompañamiento</h6>
                                                <h6>Duracion:1 semana</h6>
                                            </div>
                                            <h2 class="w3-wide">Acerca de mi pasantia</h2>
                                            <p class="w3-justify">Lo que más me gusto de mi pasantía era que podíamos juntarnos junto a mis compañeros todas
                                                    las mañanas a tomar un café y hablar acerca de los juegos que jugamos, de la cantidad de trabajos
                                                    que teníamos que realizar después de las pasantías y sobre todo acerca del proyecto que
                                                    debíamos realizar, también lo que más me gusto fue la predisposición y las charlas que nos dieron
                                                    distintos ingenieros de diversas áreas de la empresa quienes nos explicaron qué se realiza en cada
                                                    sector de la empresa.</p>
                                        </mat-card>
                                        </div> -->

           </div>
           </div>
