.contenedor {
    width: 420px;
}
mat-form-field {
    margin-right: 12px;
  }
.TextareaYourExperience {
    width: 420px;
}

.twoColumns {
    display: flex;
}
.titulo {
    text-align: center;
}
.botones {
    text-align: center;
}
.header {
    width: 420px; justify-content: center;
}