<div class="pantalla">
  <div class="contenedor">
  <div class="titulo">
    <mat-toolbar style="width: 453px">  
      <mat-toolbar-row class="header">
        <span>Formulario</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <form [formGroup]="experienceForm">
      <mat-card style="width: 420px">
      <div class="primera-linea twoColumns">
      <div> <!--Username-->
        <mat-form-field appearance="outline">
          <mat-label>Usuario</mat-label>
          <input matInput placeholder="Ejem:Carlitos777" formControlName="username">
        </mat-form-field>
      </div>
        <div> <!--Email-->
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Ejem:Carlitos@gmail.com" formControlName="email">
          </mat-form-field>
        </div>
      </div>
      <div class="segunda-linea twoColumns">
        <div> <!--nombre de la escuela-->
          <mat-form-field appearance="outline">
            <mat-label>Colegio</mat-label>
            <input matInput placeholder="Ejem:PioXII"  formControlName="schoolName">
          </mat-form-field>
        </div>
        <div> <!--compania-->
          <mat-form-field appearance="outline">
          <mat-label>Empresa</mat-label>
          <input matInput placeholder="Ejem:McAfee" formControlName="companyName">
          </mat-form-field>
        </div>
      </div>
      <div class="tercer-linea twoColumns">
        <div> <!--duracion-->
          <mat-form-field wi appearance="outline" hintLabel="Max 8 characters">
            <mat-label>Duración(días)</mat-label>
            <input matInput #input maxlength="8" placeholder="Ejem:4 Days" formControlName="duration">
            <mat-hint align="end">{{input.value?.length || 0}}/8</mat-hint>
          </mat-form-field>
        </div>
        <div> <!--carrera-->
          <mat-form-field appearance="outline">
            <mat-label>Carrera</mat-label>
            <input matInput placeholder="Ejem:Ing. en Sistemas" formControlName="career">
          </mat-form-field>
        </div>
      </div>
      <mat-form-field appearance="outline" class="TextareaYourExperience">
          <mat-label>Tu Experiencia</mat-label>
          <textarea matInput formControlName="experienceFeedback"
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="5"
                    cdkAutosizeMaxRows="50"
                    value="">
          </textarea>
        </mat-form-field><br>
      <div class="botones">
        <button mat-button type="submit" (click)="sendData()">Enviar</button>
      </div>
  </mat-card>
  </form>
  </div>
</div>