.contenedor {
}
mat-form-field {
    margin-right: 12px;
  }

.titulo {
    text-align: center;
    margin: 0 0 2rem !important;
}
.botones {
    text-align: center;
}

.header {
    width: 420px; justify-content: center; background-color: rgb(255, 0, 0)
}

.pantalla {
    display: flex;
    justify-content: center;
}

.submit {
  background-color: #db4a39;
  color: white
}
